.Footer {
    background-color: #000a1c;
    color: blanchedalmond;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 3%;
    padding-top: 2%;
}

@media only screen and (max-width: 768px) {
    .Footer {
        padding-top: 12%;
    }
}